* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;   
}


#container {
    background-image: url("../img/jon-parry-4A9IELfRdwE-unsplash.jpg");
    background-size: 100%;
    background-position: center;
    height: 164.2vh;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 100px 1fr;
}


header {
    background-color: black;
    height: 16.4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 55%;
    margin: 4.1vh;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#title {
    display: flex;
    width: 39.5vw;
    height: 16.4vh;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
}

#link_list {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
    margin: 12.3vh;
}

.meny_link {
    display: flex;
    background: rgb(228, 225, 248);
    width: 11.7vw;
    height: 6.6vh;
    border-radius: 0.625rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 4.1vh;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.4s;
}

.meny_link:hover {
    font-weight: bold;
    color: black;
    height: 7vh;
    width: 12.2vw;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

#text_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(228, 225, 248, 0.8);
    width: 75vw;
    height: 57.5vw;
    align-content: space-around;
    border-radius: 0.3125rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#text_box_2 {
    margin-top: 5rem;
    display: grid;
    padding: 5vw;
    background: rgba(228, 225, 248, 0.8);
    width: 75vw;
    height: max-content;
    border-radius: 0.3125rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he1 he1"
    "ad1 vf1"
    "ad2 vf2"
    "ad3 vf3"
    ;
}

#text_title_2 {
    grid-area: he1;
    background: red;
}

#vart_finns_vi_1 {
    grid-area: vf1;
    background: blue;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#vart_finns_vi_2 {
    grid-area: vf2;
    background: orange;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#vart_finns_vi_3 {
    grid-area: vf3;
    background: blue;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#adress_1 {
    grid-area: ad1;
    background: chartreuse;
}
#adress_2 {
    grid-area: ad2;
    background: orangered;
}
#adress_3 {
    grid-area: ad3;
    background: purple;
}

#id_box {
    display: flex;
    height: max-content;
    width: 80vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#texten {
    margin-left: 9.375vw;
    margin-right: 9.375vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

#start_sida {
    height: 7.8vw;
    width: auto;
    opacity: 100%;
    justify-content: flex-start;
    margin-left: 4.9vh;
    transition: 0.4s;
}

#start_sida:hover {
    cursor: pointer;
    height: 8.5vw;
}

#text_title {
    display: flex;
    width: 56vw;
    height: 7.5vh;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    font-family: sans-serif;
    font-size: 3rem;
    margin-top: 6.6vh;
}

.meny_ratter {
    margin-left: 9.375vw;
    margin-right: 9.375vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.menyn {
    justify-content: center;
    align-content: space-between;
    list-style-type: none;
}

#vart_finns_vi {
    height: auto;
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#nummer {
    justify-content: center;
    align-items: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

#grid_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}